<div class="content">
  <div class="filter-add">
    <div class="select">
      <label for="status" >Status</label>
      <select name="status" id="status"  (change)="onChange($event)" >
        <option value="0">All statuses</option>
        <option  [value]="status" *ngFor = "let status of getDataStatuses()">{{(status|statusPipe).name["3"]}}</option>
      </select>
    </div>


    <button>Create New Intervention</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Code of the intervention</th>
      <th>Short Name</th>
      <th>Official Intervention Name</th>
      <th>Country</th>
      <th>Status</th>
      <th>Last Updated By</th>
      <th>Last Updated On</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let data of filterProjectList">
      <td>{{data.InterventionCode}}</td>
      <td>{{data.ShortName}}</td>
      <td>{{data.Title}}</td>
      <td>{{getCountryById(data.InterventionCountryID)}}</td>
      <td>{{getStatusById(data.workflowStateId)}}</td>
      <td>{{data.UpdatedUserID| user}}</td>
      <td>{{data.DateUpdated | date:'d/M/yy'}}</td>
    </tr>
    </tbody>
  </table>
</div>
