<div class="content">
  <div class="filter-add">
    <div class="select">
      <label for="status">Status</label>
      <select name="status" id="status" [formControl]="selectedControl" >
        <option value="0">All statuses</option>
        <option [value]="statusId" *ngFor="let statusId of getStatusIdes()">{{statusId|statusName|async}}</option>
      </select>
    </div>

    <button>Create New Intervention</button>
  </div>
  <table>
    <thead>
    <tr>
      <th (click)="sortData('InterventionCode')">Code of the intervention</th>
      <th (click)="sortData('ShortName')">Short Name</th>
      <th (click)="sortData('Title')">Official Intervention Name</th>
      <th (click)="sortData('InterventionCountryID')">Country</th>
      <th (click)="sortData('workflowStateId')">Status</th>
      <th (click)="sortData('UpdatedUserID')">Last Updated By</th>
      <th (click)="sortData('DateUpdated')">Last Updated On</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filteredProjects | paginate : {
                                                      itemsPerPage: 3,
                                                      currentPage: currentPage,
                                                      totalItems: totalPagesCount} ; let i = index" appBgColor>
      <td><a href="" [routerLink]="['projects',data.InterventionInstanceId]">{{data.InterventionCode}}</a></td>
      <td>{{data.ShortName}}</td>
      <td>{{data.Title}}</td>
      <td>{{data.InterventionCountryID|countryName|async}}</td>
      <td>{{data.workflowStateId|statusName|async}}</td>
      <td>{{data.UpdatedUserID| userName|async}}</td>
      <td>{{data.DateUpdated | date : 'd/M/yy'}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
