.searchBar {
  /*margin: 10px 30px;*/
  min-width: 200px;
  padding: 10px 20px;
  border-top: 1px solid gray;
  border-radius: 8px;
  box-shadow: -3px 5px 5px;

}

.searchBar * {
  margin-bottom: 30px;

}

.buttons {
  margin: 10px 0;
}

.buttons button {
  padding: 5px 15px;
  margin-right: 10px;
}

.buttons .searchBtn {
  background-color: green;
  color: white;
}

.country select, .keyword input {
  width: 200px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px 0 0 5px;
}

.special {
  /*margin-left: 15px;*/
  width: 50%;
  color: gray;
  padding: 10px;
}
