<div class="searchBar">
  <div class="buttons">
    <button class="searchBtn">Search</button>
    <button class="resetBtn">Reset</button>
  </div>
  <div class="country">
    <label for="country">Country</label><br>
    <select name="country" id="country"></select>
  </div>
  <div class="keyword">
    <label for=" keyword">Keyword</label><br>
    <input type="text" id=" keyword">
  </div>
  <div class="checkboxes">
    <div>
      <input type="checkbox" id="codeOfTheIntervention" name="codeOfTheIntervention" >
      <label for="codeOfTheIntervention">Code of the Intervention</label>
    </div>

    <div>
      <input type="checkbox" id="titleOfTheIntervention" name="titleOfTheIntervention">
      <label for="titleOfTheIntervention">Title of the Intervention</label>
    </div>

    <div>
      <input type="checkbox" id="interventionShortName" name="interventionShortName">
      <label for="interventionShortName">Intervention short name</label>
    </div>

    <div>
      <input type="checkbox" id="interventionDescription" name="interventionDescription">
      <label for="interventionDescription">Intervention description</label>
    </div>
  </div>
  <h2>Actual Start Date</h2>
  <div class="date">
    <div class="fromDate">
      <label for="fromDate">From</label><br>
      <input type="date" id="fromDate" >
    </div>
    <div class="toDate">
      <label for="toDate">To</label><br>
      <input type="date" name="toDate" id="toDate">
    </div>
  </div>
</div>
