.searchBar{
  /*margin: 10px 30px;*/
  /*border: 1px solid blue;*/
  padding: 10px 20px;

}
.searchBar * {
  margin-bottom: 30px;
}

.buttons{
  margin: 10px 0;
}

.buttons button{
  padding: 5px 15px;
  margin-right: 10px;
}

.buttons .searchBtn{
  background-color: green;
  color: white;
}

.special{
  /*margin-left: 15px;*/
  width:50%;
  color:gray;
 padding:10px;
}
